body{
background-color:#E7DEBC;
}
.per{
text-align:center;
margin:20%;
background-color:gray;
padding:2px;
border:2px solid black;
}
#Cl{
text-align:center;
margin:10%;
text-size:100px ;
background-color:white;
border:2px solid black;
}
.img{
width:30%;
text-align:center;
}
.B{
width:50px;
height:30px;
background-color:white;
}
.post{
background-color:green;
border-radius:5px;
padding:3px;
}
#x{
border:3px solid black;

}

#divT{
text-align:

}
